$primary-backgroundcolor: #077431;
$s-w: 50px;
$m-w: 100px;
$l-w: 150px;
$xl-w: 200px;
$xxl-w: 250px;
$s-h: 50px;
$m-h: 100px;
$l-h: 150px;
$xl-h: 200px;
$xxl-h: 300px;
$border-radius: 10px;
$light-fontweight: 400;
$bold-fontweight: 700;
$bolder-fontweghtl: 800;
$s-fontsize: 10px;
$m-fontsize: 20px;
$l-fontsize: 30px;
$xl-fontsize: 40px;
$primary-color: white;
$secondery-color: black;
$s-gap: 10px;
$m-gap: 20px;
$l-gap: 30px;
$xl-gap: 40px;
$xxl-gap: 50px;
$font-family: "Arial GEO", sans-serif;