@use "reset";
@use "variables";
@use "placeholder";
@use "mixin";

header{
   @extend %header;
  .regitrationbutton{
       @extend %headerbutton;
       .registrationa{
         @extend %headera;
       }
   }
    .headerdiv{
    @include mixin.flex(row,wrap,center,center);
  margin-bottom: 45px;
  gap: 100px;
   h1{
      color: variables.$primary-color;
      font-size: variables.$l-fontsize;
       font-family:variables.$font-family;
       font-weight: variables.$bold-fontweight;
      
       }
    i{
        font-size: variables.$l-fontsize;
}
}
.donationbutton{
     @extend %headerbutton;
     .donationa{
         @extend %headera;
     }
  }
}
.sec1{  
 @include mixin.flex(row,nowrap,none,none);
    padding-top: 50px;
    margin-bottom: 100px;
    img{
        width: variables.$l-w;
        margin: 0 70px 0 140px;
    }
    .divider{
        height: variables.$l-h;
        width: 4px;
        background-color: variables.$primary-backgroundcolor;
        margin-right: 100px;
    }
    nav{ 
        @include mixin.flex(row,wrap,none,none);
        gap:80px;
        
       a{
           @extend  %navigationa;
           
        i{
            margin-right: 20px;
            color: variables.$primary-color;
            font-size: variables.$m-fontsize;
        }
        button{
           @extend %navigationbutton;
        }
        }
    }
   
}
.sec2{
    background-image: url(../images/georgianature1.jpg);
  @extend %sec2;
    h1{
       @extend  %sec2h1;
}
}
.sec3{
    margin-bottom: 200px;
    h1{
        color: variables.$secondery-color;
        font-size: variables.$xl-fontsize;
        text-align: center;
        font-weight: variables.$bold-fontweight;
        margin-bottom: 70px;
        font-family: variables.$font-family;
    }
    hr{
        width: 58%;
        margin-bottom: 100px;
   
    }
    .sec3div{
    @include mixin.flex(row,wrap,center,none);
    gap: 100px;
    margin-bottom: 100px;
      .sec3container1{
        
        width: 500px;
        height: 600px;
   background-image: url(../images/georgianature2.jpg);
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
      }
      .sec3container2{
        p{
            @extend  %sec3andsec4p;
            margin-bottom: 65px;
           
        }
        .sec3containernav{
             @include mixin.flex(column,wrap,none,none);
             gap: variables.$xxl-gap;
           
          div{
             @include mixin.flex(row,wrap,none,none);
             gap: variables.$xxl-gap;
             i{
                font-size: variables.$xl-fontsize;
             }
             button{
               @extend %sec3button;
             }
             a{
              @extend %sec3a;
             }
           }
        }
      }
    }
}
.sec4{
    margin-bottom: 150px;
    h1{
      color: variables.$secondery-color;
        font-size: variables.$xl-fontsize;
        text-align: center;
        font-weight: variables.$bold-fontweight;
        margin-bottom: 70px;
        font-family: variables.$font-family;
    }
    hr{
         width: 63%;
        margin-bottom: 100px;
    }
    .sec4container{
         @include mixin.flex(row,wrap,center,none);
         margin-bottom: 100px;
         gap: 120px;
         .sec4leftcontainer{
                @include mixin.flex(column,wrap,center,none);
                gap: 50px;
            p{
             @extend  %sec3andsec4p;
           
             }
             span{
            color: variables.$secondery-color;
            font-size: variables.$l-fontsize;
            font-family: variables.$font-family;
            font-weight: variables.$bold-fontweight;
            
           }
           i{
            font-size: variables.$l-fontsize;
            position: relative;
            left: 105px;
           }
           button{
              cursor: pointer;
          width: variables.$xxl-w;
          height: 70px;
          background-color: variables.$primary-backgroundcolor;
          border: none;
          border-radius: variables.$border-radius;
         font-family: variables.$font-family;
          font-size: variables.$m-fontsize;
          font-weight: variables.$bold-fontweight;
            color: variables.$primary-color;
          a{
            @extend %sec3a;
          }
           }
         }
         .sec4rightcontainer{
        width: 500px;
        height: 600px;
    background-image: url(../images/georgianature3.jpg);
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
         }
    }
}
  .sec5{
    height: variables.$xxl-h;
    background-color: variables.$primary-backgroundcolor;
    @include mixin.flex(column,wrap,center,center);
    gap: variables.$l-gap;
    margin-bottom: 150px;
    h1{
     color: variables.$primary-color;
        font-size:60px;
        text-align: center;
        font-weight: variables.$bold-fontweight;
       font-family: variables.$font-family;
    }
    i{
      font-size: variables.$xl-fontsize;
      
    }
  }
  .sec6{
    margin-bottom: 150px;
    .sec6container{
      @include mixin.flex(column,wrap,none,none);
    
      .topbox{
          @include mixin.flex(row,wrap,center,none);
           .topboxleft{
            width:800px;
            height: 400px;
             @include mixin.flex(column,wrap,center,center);
           
           
           h3{
          color: variables.$secondery-color;
        font-size:variables.$l-fontsize;
        font-weight: variables.$bold-fontweight;
        margin-bottom: 30px;
         font-family:variables.$font-family;
          }
          .underline{
            height:5px;
            width: variables.$xl-w;
             background-color: variables.$primary-backgroundcolor;
             margin-bottom: 50px;
          }
         p{
              color: variables.$secondery-color;
        font-size:variables.$m-fontsize;
         font-weight: variables.$bold-fontweight;
         width: 650px;
         line-height: 1.3;
          font-family:variables.$font-family;
         }
      }
      .topboxright{
        background-image: url(../images/georgianature4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:800px;
            height: 400px;
      }
    }
    .bottombox{
        @include mixin.flex(row,wrap,center,none);
         .bottomboxleft{
            background-image: url(../images/georgianature5.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:800px;
            height: 400px;
           }
        .bottomboxright{
            width:800px;
            height: 400px;
             @include mixin.flex(column,wrap,center,center);
               h3{
          font-family:variables.$font-family;
          color: variables.$secondery-color;
        font-size:variables.$l-fontsize;
        font-weight: variables.$bold-fontweight;
        margin-bottom: 30px;
          }
          .underline{
            height:5px;
            width: variables.$xl-w;
             background-color: variables.$primary-backgroundcolor;
             margin-bottom: 50px;
          }
         p{
              color: variables.$secondery-color;
        font-size:variables.$m-fontsize;
         font-weight: variables.$bold-fontweight;
         width: 650px;
         line-height: 1.3;
          font-family:variables.$font-family;
         }
      }
   }
}
  }
  footer{
    background-color:rgba(0, 0, 0, 0.836);
    height: 800px;
    width: 100%;
 
    @include mixin.flex(row,wrap,space-evenly,none);
    .footercontainer1{
    
      h1{
      color: variables.$primary-color;
      font-weight: variables.$bold-fontweight;
      font-size:65px;
      margin-top: 120px;
      text-align: center;
       font-family:variables.$font-family;
    }

    hr{
       border: none;
      height: 2px;
  background-color: variables.$primary-color;
   width: 100%;
  margin: 40px auto;
    }
  .footernavigation{
    @include mixin.flex(row,wrap,none,none);
    gap: 100px;
    .footernav1{
       nav{
     @extend %footernavigation;
     div{
       @include mixin.flex(row,nowrap,none,none);
         gap:5px;
       a{
       @extend  %footera;
        }
          i{
            font-size: variables.$m-fontsize;
            
          }
      }
     }
    }
    .footernav2{
      nav{
         @extend %footernavigation;
       div{
         @include mixin.flex(row,wrap,none,none);
         gap: 5px;
          a{
            position: relative;
           left: 60px;
           @extend  %footera;
         
          }
          i{
            font-size: variables.$m-fontsize;
              position: relative;
              left: 60px;
          }
         }
      }
      }
    }
}
.footercontainer2{
  
  h1{
     color: variables.$primary-color;
      font-weight: variables.$bold-fontweight;
      font-size:65px;
      margin-top: 120px;
      text-align: center;
       font-family:variables.$font-family;

  }
  .container2hr1{
     border: none;
      height: 2px;
     background-color: variables.$primary-color;
      width: 100%;
      margin: 40px auto;
  }
  .socialplatforms{
    @include mixin.flex(row,wrap,center,none);
    gap:100px;
 
     a{
       font-family:variables.$font-family;
       img{
        width: 75px;
        background: transparent;
       }
       i{
        font-size:70px;
       
       }
       .tbc{
         width: 60px;
       }
       
    }
  }

  .container2hr2{
    border: none;
      height: 2px;
     background-color: variables.$primary-color;
      width: 100%;
      margin: 40px auto;
  }
  .footergreespotinfo{
    @include mixin.flex(row,wrap,flex-start,none);
    gap: variables.$l-gap;
   
    a{
    img{
      width: variables.$xl-w;
     
    }
  }
     p{
     
       vertical-align: bottom;
      width: 500px;
      color: variables.$primary-color;
      font-size: variables.$m-fontsize;
      line-height: 1.5;
      font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
     }
    } 
  }

}
  
 .lasthr{
    display: block;
     border: none;
      height: 2px;
     background-color: variables.$primary-color;
      width: 75%;
      margin-bottom: 50px;
      margin-top: 15px;
}
 .aboutussec2{
    background-image: url(../images/georgianature6.jpeg);
    @extend %sec2;
    h1{
       @extend %sec2h1;
    }
 }

 .aboutussec3{
   @include mixin.flex(column,wrap,none,center);
   gap: 80px;
   margin-bottom: 200px;
   .aboutussec3info{
      @include mixin.flex(row,nowrap,center,center);
      gap: variables.$xl-gap;
   }
   h1{
       color: variables.$secondery-color;
      font-size: 60px;
      font-weight: variables.$bold-fontweight;
      font-family: variables.$font-family;
      }
      i{
          font-size: 60px;
      }
    }
    p{
        color: variables.$secondery-color;
          font-size: variables.$l-fontsize;
          font-weight: variables.$bold-fontweight;
          line-height: 1.3;
        font-family:variables.$font-family;
        width: 65%;
    }
   .aboutussec4{
    background-color: variables.$primary-backgroundcolor;
    height: 350px;
    margin-bottom: 150px;
    @include mixin.flex(column,wrap,center,center);
    gap: variables.$xxl-gap;
    h1{
      color: variables.$primary-color;
      font-size: variables.$xl-fontsize;
      font-weight: variables.$bold-fontweight;
      font-family: variables.$font-family;
    }
    i{
      font-size: variables.$xl-fontsize;
    }
   }
   .aboutussec5{
  @include mixin.flex(column,wrap,none,none);
  background-color: rgba(0, 0, 0, 0.884);
   margin-bottom: 200px;
  .aboutussec5container1{
    @include mixin.flex(row,wrap,none,none);
    gap: 250px;
    .sec5containerimg{
     background-image: url(../images/georgianature7.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    width: 600px;
    height: 850px;
    
}
 .sec5containerinfo{
  @include mixin.flex(column,wrap,center,none);
  gap: variables.$xxl-gap;
   h2{
    color: variables.$primary-color;
      font-size: 50px;
      font-weight: variables.$bold-fontweight;
      font-family: variables.$font-family;
    }
    p{
      color: variables.$primary-color;
      font-size: variables.$l-fontsize;
      font-weight: variables.$bold-fontweight;
      line-height: 2;
      width: 900px;
      font-family: variables.$font-family;
    }
   }
   }
   .aboutussec5container2{
     @include mixin.flex(row,wrap,none,none);
    gap: 250px;

     .sec5containerimg{
     background-image: url(../images/georgianature8.webp);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    width: 600px;
    height: 850px;
  }
  .sec5containerinfo{
  @include mixin.flex(column,wrap,center,none);
  gap: variables.$xxl-gap;
   h2{
    color: variables.$primary-color;
      font-size: 50px;
      font-weight: variables.$bold-fontweight;
      font-family: variables.$font-family;
    }
    p{
      color: variables.$primary-color;
      font-size: variables.$l-fontsize;
      font-weight: variables.$bold-fontweight;
      line-height: 2;
      width: 900px;
      font-family: variables.$font-family;
    }
    a{
      color: variables.$primary-color;
      font-size: variables.$m-fontsize;
      font-weight: variables.$bold-fontweight;
      font-family: variables.$font-family;
      cursor: pointer;
      button{
        cursor: pointer;
          width: variables.$xxl-w;
          height: 60px;
          background-color: variables.$primary-backgroundcolor;
          font-family: variables.$font-family;
          font-size: variables.$m-fontsize;
          font-weight: variables.$bold-fontweight;
          color: variables.$primary-color;
          border: none;
          border-radius: variables.$border-radius;
         
      }
    }
   }
   }
    .aboutussec5container3{
     @include mixin.flex(row,wrap,none,none);
      gap: 250px;

     .sec5containerimg{
     background-image: url(../images/georgianature9.webp);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    width: 600px;
    height: 850px;
  }
  .sec5containerinfo{
  @include mixin.flex(column,wrap,center,none);
  gap: variables.$xxl-gap;
   h2{
    color: variables.$primary-color;
      font-size: 50px;
      font-weight: variables.$bold-fontweight;
      font-family: variables.$font-family;
    }
    p{
      color: variables.$primary-color;
      font-size: variables.$l-fontsize;
      font-weight: variables.$bold-fontweight;
      line-height: 2;
      width: 900px;
      font-family: variables.$font-family;
    }
    a{
      color: variables.$primary-color;
      font-size: variables.$m-fontsize;
      font-weight: variables.$bold-fontweight;
      font-family: variables.$font-family;
      cursor: pointer;
      button{
        cursor: pointer;
          width: variables.$xxl-w;
          height: 60px;
          background-color: variables.$primary-backgroundcolor;
          font-family: variables.$font-family;
          font-size: variables.$m-fontsize;
          font-weight: variables.$bold-fontweight;
          color: variables.$primary-color;
          border: none;
          border-radius: variables.$border-radius;
         
      }
    }
   }
   }
     .aboutussec5container4{
     @include mixin.flex(row,wrap,none,none);
      gap: 250px;
 .sec5containerimg{
     background-image: url(../images/georgianature10.webp);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    width: 600px;
    height: 850px;
  }
  .sec5containerinfo{
  @include mixin.flex(column,wrap,center,none);
  gap: 110px;
   h2{
    color: variables.$primary-color;
      font-size: 50px;
      font-weight: variables.$bold-fontweight;
      font-family: variables.$font-family;
    }
    .sec5infobox{
      @include mixin.flex(column,wrap,none,none);
      gap: variables.$xxl-gap;
      div{
        @include mixin.flex(row,wrap,none,none);
        gap: variables.$xl-gap;
        i{
          font-size: variables.$xl-fontsize;
        }
        span{
          position: relative;
          bottom: 15px;
          color: variables.$primary-color;
          font-size: variables.$l-fontsize;
          font-weight: variables.$bold-fontweight;
          line-height: 2;
          width: 700px;
          font-family: variables.$font-family;
      }
    }
    }
   }
   }
    .aboutussec5container5{
    @include mixin.flex(row,wrap,none,none);
    gap: 250px;
    .sec5containerimg{
     background-image: url(../images/georgianature10.webp);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    width: 600px;
    height: 850px;
    
}
 .sec5containerinfo{
  @include mixin.flex(column,wrap,center,none);
  gap: variables.$xxl-gap;
   h2{
    color: variables.$primary-color;
      font-size: 50px;
      font-weight: variables.$bold-fontweight;
      font-family: variables.$font-family;
    }
    p{
      color: variables.$primary-color;
      font-size: variables.$l-fontsize;
      font-weight: variables.$bold-fontweight;
      line-height: 2;
      width: 900px;
      font-family: variables.$font-family;
    }
   }
   }
   }
 .registrationbody {
  background-image: url(../images/registrationnature.jpg);
  background-size: cover;
  @include mixin.flex(row, wrap, center, center);
  height: 100vh; 
  padding-top: 50px;
  
}
  .registrationmain{
    @include mixin.flex(column,wrap,none,none);
    background-color: rgb(12, 97, 12);
   border-radius: 20px;
  .registrationtop{
      @include mixin.flex(row,wrap,center,center);
      gap: variables.$l-gap;
      width: 800px;
      height: 200px;
      h1{
        color: variables.$primary-color;
        font-size: variables.$xl-fontsize;
        font-family: "Roboto", sans-serif;
        font-weight: variables.$bold-fontweight;
   }
     img{
        width: variables.$m-w;
      }
    }
    hr{
      width: 100%;
      background-color: variables.$primary-color;
      margin-bottom: 50px;
    }
    .registrationbottom{
      @include mixin.flex(column,wrap,center,center);
      gap: variables.$xxl-gap;
      padding-bottom: 50px;
      h2{
        color: variables.$primary-color;
        font-size: variables.$l-fontsize;
        font-family: variables.$font-family;
        font-weight: variables.$bold-fontweight;
      }
      form{
        @include mixin.flex(column,wrap,center,none);
        gap: variables.$m-gap;
       
        label{
          color: variables.$primary-color;
          font-size: variables.$m-fontsize;
          font-family: variables.$font-family;
          font-weight: variables.$bold-fontweight;
        }
        input{
          width: 600px;
          height: 50px;
          border-radius: variables.$border-radius;
          border: none;
          padding-left: 15px;
          font-size: variables.$m-fontsize;
          font-family: variables.$font-family;
        &::placeholder{
            color:  lightgray;
            font-family: variables.$font-family;
            font-size: variables.$m-fontsize;
            font-weight: variables.$light-fontweight;
        }
       
        }
      }
      
        button{
          cursor: pointer;
         width: variables.$xl-w;
          height: 60px;
          background-color: variables.$primary-backgroundcolor;
           font-family: variables.$font-family;
          font-size: variables.$m-fontsize;
          font-weight: variables.$bold-fontweight;
            color: variables.$primary-color;
          border: none;
          border-radius: variables.$border-radius;
        }
      
      }
    }
.donationcontainer{
  @include mixin.flex(row,nowrap,flex-start,none);
  margin-bottom: 100px;
 .leftdonationdiv{
    @include mixin.flex(column,wrap,center,center);
    gap: variables.$l-gap;
    width: 960px;
    height: 400px;
    background-color: variables.$primary-backgroundcolor;
    h1{
      color: variables.$primary-color;
      font-size: variables.$l-fontsize;
      font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
    }
    p{
      color: variables.$primary-color;
      font-size: variables.$m-fontsize;
      font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
      width: 750px;
      line-height: 1.5;
    }
  }
  .rightdonationdiv{
    width: 960px;
    height: 400px;
    background-image: url(../images/georgianature11.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.donation-form {
  @include mixin.flex(column, wrap, center, center);
  gap: variables.$xxl-gap;
  margin-bottom: 150px;
  width: 100%;
.sec1donation{
    @include mixin.flex(column,wrap,center,center);
    gap: variables.$l-gap;
    margin-bottom: 150px;
    
     h1{
      color: variables.$secondery-color;
      font-size: variables.$xl-fontsize;
      font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
     }
    hr{
      width: 100%;
    background-color:  black;
    }

   h3{
    color: variables.$secondery-color;
      font-size: variables.$xl-fontsize;
      font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
     
    }
    .donationoptions{
      @include mixin.flex(row,wrap,center,center);
      gap: variables.$xl-gap;
      margin-top: 30px;
      margin-bottom: 30px;
      
      .amount{
        @include mixin.flex(row,wrap,center,center);
       input{
          display: none;
           }
           label{
              @include mixin.flex(row,wrap,center,center);
             cursor: pointer;
             font-size: variables.$m-fontsize;
             font-weight: variables.$bold-fontweight;
             color: #077431;
             font-family: variables.$font-family;
             background-color: white;
             border: 1px solid black;
             width: variables.$l-w;
             height: 75px;

             &:hover{
                  background-color: variables.$primary-backgroundcolor;
                  color: white;
             }

           }
           input:checked + label {
          background-color: variables.$primary-backgroundcolor;
         color: white;
      }
    }
  }
    .donationbox{
     
       input{
         width: 350px;
        height: 70px;
        border: 1px solid black;
        font-size: variables.$m-fontsize;
          font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
        text-align: center;      
        &::placeholder{
          font-size: variables.$m-fontsize;
            font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
          }
       }
    }
  }
.sec2donation{
    @include mixin.flex(column,wrap,center,center);
    gap: variables.$m-gap;
    margin-bottom: 150px;
   h1{
      color: variables.$secondery-color;
      font-size: variables.$xl-fontsize;
      font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
     }
    hr{
      width: 53%;
    background-color:  black;
    }
   .sec2donationcontainer{
     @include mixin.flex(row,wrap,center,center);
     gap: variables.$xxl-gap;
    
      .leftside{
     @include mixin.flex(column,wrap,none,none);
     gap: variables.$xxl-gap;
   label{
      font-size: variables.$l-fontsize;
       font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
   }
     input{
      width: 500px;
     height: 80px;
    border: 1px solid black;
     font-size: variables.$m-fontsize;
       font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
       text-align: center;     
     &::placeholder{
         font-size: variables.$m-fontsize;
            font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
     }
     }
      }
      .rightside{
     @include mixin.flex(column,wrap,none,none);
     gap: variables.$xxl-gap;
   label{
      font-size: variables.$l-fontsize;
       font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
   }
     input{
      width:500px;
     height: 80px;
    border: 1px solid black;
     font-size: variables.$m-fontsize;
       font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
       text-align: center;     
     &::placeholder{
         font-size: variables.$m-fontsize;
            font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
     }
     }
      }
   }
}

.sec3donation{
   @include mixin.flex(column,wrap,center,center);
   gap: variables.$m-gap;
   margin-bottom: 150px;
    h1{
      color: variables.$secondery-color;
      font-size: variables.$xl-fontsize;
      font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
     }
    hr{
      width: 53%;
    background-color:  black;
    }

    .sec3donationcontainer{
       @include mixin.flex(row,wrap,center,center);
     gap: variables.$xxl-gap;

           .sec3leftside{
    @include mixin.flex(column,wrap,center,center);
     gap: variables.$xxl-gap;
     label{
      font-size: variables.$l-fontsize;
       font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
   }
     input{
      width: 500px;
     height: 80px;
    border: 1px solid black;
     font-size: variables.$m-fontsize;
       font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
       text-align: center;     
     &::placeholder{
         font-size: variables.$m-fontsize;
            font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
     }
     }
    }
    .sec3rightside{
       @include mixin.flex(column,wrap,center,center);
     gap: 89px;
   
        @include mixin.flex(column,wrap,center,center);
     gap: 89px;
       label{
      font-size: variables.$l-fontsize;
       font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
         
   }
     input{
      width: 500px;
     height: 80px;
    border: 1px solid black;
     font-size: variables.$m-fontsize;
       font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
       text-align: center;     
       position: relative;
       bottom: 40px;
     &::placeholder{
         font-size: variables.$m-fontsize;
            font-family: variables.$font-family;
      font-weight: variables.$bold-fontweight;
     }
     }
     
      button{
          cursor: pointer;
         width: 500px;
          height: 80px;
          background-color: variables.$primary-backgroundcolor;
           font-family: variables.$font-family;
          font-size: variables.$m-fontsize;
          font-weight: variables.$bold-fontweight;
            color: variables.$primary-color;
          border: none;
        
        }
    
}
}
}
}
   .servicesec2{
    background-image: url(../images/georgianature12.jpg);
    @extend %sec2;
    h1{
       @extend %sec2h1;
    }
 }
 .servicesec3{
  @include mixin.flex(column,wrap,center,center);
  gap: variables.$xxl-gap;
  margin-bottom: 100px;
  .servicesec3info{
    @include mixin.flex(row,wrap,center,center);
    gap: variables.$xl-gap;
   
    h1{
       color: variables.$secondery-color;
      font-size: 60px;
      font-weight: variables.$bold-fontweight;
      font-family: variables.$font-family;
      }
      i{
          font-size: 60px;
      }
    }
    p{
        color: variables.$secondery-color;
          font-size: variables.$l-fontsize;
          font-weight: variables.$bold-fontweight;
          line-height: 1.5;
        font-family:variables.$font-family;
        width: 75%;
        margin-bottom: 30px;
  }
  hr{
    width: 100%;
    background-color: black;
  }
 }
.servicesections{
  margin-bottom: 100px;
  .servicesectionscontainer{
     @include mixin.flex(row,wrap,center,center);
  gap: 80px;
   
  .servicesectionsleftbox1{
    background-image: url(../images/georgianature13.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 700px;
    }
    .servicesectionsrightbox{
      @include mixin.flex(column,wrap,none,none);
      gap: variables.$xxl-gap;
     
      .littlebox{
        @include mixin.flex(row,nowrap,none,none);
        gap: variables.$m-gap;
       
        h2{
          color: variables.$secondery-color;
          font-size: variables.$l-fontsize;
          font-family: variables.$font-family;
          font-weight: variables.$bold-fontweight;
        }
        i{
          font-size: variables.$xl-fontsize; 
        }
      }
      p{
         color: variables.$secondery-color;
          font-size: variables.$l-fontsize;
          font-family: variables.$font-family;
          font-weight: variables.$bold-fontweight;
          line-height: 1.5;
          width: 900px;
      }
      ul{
        @include mixin.flex(column,wrap,none,none);
        gap: variables.$l-gap;
       li{
         color: variables.$secondery-color;
          font-size: variables.$m-fontsize;
          font-family: variables.$font-family;
          font-weight: variables.$bold-fontweight;
      }
    }
    a{
      button{
        cursor: pointer;
          width: variables.$xxl-w;
          height: 60px;
          background-color: variables.$primary-backgroundcolor;
          font-family: variables.$font-family;
          font-size: variables.$m-fontsize;
          font-weight: variables.$bold-fontweight;
          color: variables.$primary-color;
          border: none;
          border-radius: variables.$border-radius;
      }
    }
}
}
}
hr{
  margin-bottom: 100px;
}

.servicesectionsleftbox2{
  background-image: url(../images/georgianature14.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 650px;
}
.servicesectionsleftbox3{
   background-image: url(../images/georgianature15.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 620px;
}
 .newssec2{
    background-image: url(../images/georgianature16.webp);
    @extend %sec2;
    h1{
       @extend %sec2h1;
    }
 }
 .newssec3{
  @include mixin.flex(column,wrap,center,center);
  gap: variables.$xxl-gap;
  margin-bottom: 100px;
  .newssec3info{
    @include mixin.flex(row,nowrap,center,center);
    gap: variables.$xl-gap;
     h1{
      color: variables.$secondery-color;
      font-size: 60px;
      font-weight: variables.$bold-fontweight;
      font-family: variables.$font-family;
      }
      i{
          font-size: 60px;
      }
    }
    p{
        color: variables.$secondery-color;
          font-size: variables.$l-fontsize;
          font-weight: variables.$bold-fontweight;
          line-height: 1.5;
        font-family:variables.$font-family;
        width: 75%;
        margin-bottom: 30px;
  }
  hr{
    width: 100%;
    background-color: black;
  }
 }
 .newssec4{
  @include mixin.flex(column,wrap,center,center);
  gap: 100px;
  margin-bottom: 100px;
  
  .newssec4container1{
    @include mixin.flex(column,wrap,none,none);
    background-image: url(../images/nature1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 90%;
   
    .toppart1{
      background-color: black;
      width: 100%;
      height: variables.$m-h;
      opacity: 0.6; border-top-left-radius: 50px;
    border-top-right-radius: 50px;
      @include mixin.flex(row,nowrap,center,center);
      gap: variables.$l-gap;
      margin-bottom: 90px;
     h3{
      color: variables.$primary-color;
      font-size: variables.$l-fontsize;
      font-weight: variables.$bold-fontweight;
      font-family: variables.$font-family;
      position: relative;
      z-index: 2;
     
     }
     i{
      font-size: variables.$l-fontsize;
      position: relative;
      z-index: 2;
     }
    }
     p{
        color: variables.$primary-color;
        font-size: variables.$l-fontsize;
        font-weight: variables.$bold-fontweight;
        line-height: 1.5;
        font-family:variables.$font-family;
        width: 75%;
        margin-left: 250px;
        margin-bottom: 75px;
       }
       .bottompart1{
        @include mixin.flex(row,wrap,none,none);
        gap: variables.$m-gap;
         margin-left: 250px;
      i{
          font-size: variables.$xl-fontsize;
         }
         span{
          color: variables.$primary-color;
          font-size: variables.$l-fontsize;
          font-weight: variables.$bold-fontweight;
          font-family:variables.$font-family;
          position: relative;
          top: 5px;
         }
       }
  }
 }
 .newssec4{
  
 .newssec4container2{
    @include mixin.flex(column,wrap,none,none);
    background-image: url(../images/nature2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 90%;
  
    .toppart2{
            background-color: black;
      width: 100%;
      height: variables.$m-h;
      opacity: 0.6;
    
      @include mixin.flex(row,nowrap,center,center);
      gap: variables.$l-gap;
      margin-bottom: 90px;

        h3{
      color: variables.$primary-color;
      font-size: variables.$l-fontsize;
      font-weight: variables.$bold-fontweight;
      font-family: variables.$font-family;
      position: relative;
      z-index: 2;
     
     }
     i{
      font-size: variables.$l-fontsize;
      position: relative;
      z-index: 2;
     }
    }
     p{
        color: variables.$primary-color;
        font-size: variables.$l-fontsize;
        font-weight: variables.$bold-fontweight;
        line-height: 1.5;
        font-family:variables.$font-family;
        width: 75%;
        margin-left: 250px;
        margin-bottom: 75px;
       }
      .bottompart2{
        @include mixin.flex(row,wrap,none,none);
        gap: variables.$m-gap;
         margin-left: 250px;
         

          i{
          font-size: variables.$xl-fontsize;
         }
         span{
          color: variables.$primary-color;
          font-size: variables.$l-fontsize;
          font-weight: variables.$bold-fontweight;
          font-family:variables.$font-family;
          position: relative;
          top: 5px;
         }
 }
}
 }
 .newssec4{
  .newssec4container3{
      @include mixin.flex(column,wrap,none,none);
    background-image: url(../images/nature2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 90%;

     .toppart3{
            background-color: black;
      width: 100%;
      height: variables.$m-h;
      opacity: 0.6;
     @include mixin.flex(row,nowrap,center,center);
      gap: variables.$l-gap;
      margin-bottom: 90px;

        h3{
      color: variables.$primary-color;
      font-size: variables.$l-fontsize;
      font-weight: variables.$bold-fontweight;
      font-family: variables.$font-family;
      position: relative;
      z-index: 2;
     
     }
     i{
      font-size: variables.$l-fontsize;
      position: relative;
      z-index: 2;
     }
    }
    .bottompart3{
       @include mixin.flex(row,wrap,center,center);
    ul{
       @include mixin.flex(column,wrap,none,none);
       gap: variables.$xxl-gap;
       list-style:disc;

       li{
        font-size: variables.$l-fontsize;
        color: variables.$primary-color;
        font-family: variables.$font-family;
        font-weight: variables.$bold-fontweight;
       }
    }
  }
 }
}
.contactsec2{
    background-image: url(../images/georgianature17.webp);
    @extend %sec2;
    h1{
       @extend %sec2h1;
    }
 }
 .contactsec3{
  @include mixin.flex(column,wrap,center,center);
  gap: variables.$xxl-gap;
  margin-bottom: 100px;
 .contactsec3container{
  @include mixin.flex(row,nowrap,none,none);
  gap: variables.$xxl-gap;
  
  h1{
       color: variables.$secondery-color;
      font-size: 60px;
      font-weight: variables.$bold-fontweight;
      font-family: variables.$font-family;
      }
      i{
          font-size: 60px;
      }
}
p{
       color: variables.$secondery-color;
        font-size: variables.$l-fontsize;
        font-weight: variables.$bold-fontweight;
        line-height: 1.6;
        font-family:variables.$font-family;
        width: 70%;
}
}
.contactsec4{
  background-image: url(../images/nature3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 @include mixin.flex(column,nowrap,center,center);
  gap: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 200px;
  .contactsec4container{
    width: 50%;
    height: 400px;
    background-color: variables.$primary-backgroundcolor;
    border-radius: 30px;
    border: 4px solid black;
    @include mixin.flex(column,wrap,center,center);
    gap: variables.$xxl-gap;
   
    .contactsec4box1{
      @include mixin.flex(row,nowrap,none,none);
      gap: variables.$m-gap;

      h1{
        color: variables.$primary-color;
        font-family: variables.$font-family;
        font-size:60px;
        font-weight: variables.$bold-fontweight;
      }
      i{
        font-size: 60px;
      }
    }
    .contactsec4box2{
      @include mixin.flex(column,wrap,none,none);
      gap: variables.$l-gap;

      span{
         color: variables.$primary-color;
        font-family: variables.$font-family;
        font-size: variables.$l-fontsize;
        font-weight: variables.$bold-fontweight;
      }
  }
}
}
.contactsec4box3{
    @include mixin.flex(row,nowrap,none,none);
      gap: variables.$m-gap;
  h1{
     color: variables.$primary-color;
        font-family: variables.$font-family;
        font-size:variables.$xl-fontsize;
        font-weight: variables.$bold-fontweight
  }
  i{
        font-size: variables.$xl-fontsize;
      }
}